.App {
  text-align: center;
}

.App-welcome{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300; 
  font-size: 3rem;
  color: rgb(89,164,77);
  padding-bottom: 2rem;

}




.App-Component {
  margin: 150px auto 0 auto;
  width: 30rem;
}

.App-link {
  color: #61dafb;
}

.selectedOption {
  color: rgba(100, 181, 100, 1);
  opacity: 50%;
  align-content: flex-start;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
